* {
  margin: 0;
}

.corpo {
  font-family: Helvetica;
  margin: 8px;
}

.corpo , span {
  font-weight: bold;
}

header {
  margin: 65px 0;
}

h1 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  color: khaki;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 32px;
  margin: 30px 0;
}

h3 {
  margin: 18px 0;
}

p {
  font-weight: normal;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

/* img {
  margin-bottom: 15px;
} */
