.login-form {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  justify-content: center;
  height: 100%;
  margin: 100px auto;
  text-align: center;
  width: 50%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
}

input[type='password'] {
  border-radius: 5px;
  font-size: 12pt;
  height: 25px;
  text-indent: 5px;
  width: 200px;
}

input[type='submit'] {
  border-radius: 10px;
  font-size: 13pt;
  height: 35px;
  width: 130px;
}